@import "viewports";
@import "tooltips";

$font: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
$accent: #00BAF0;
$purple: rgb(158, 54, 113);

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  box-sizing: border-box;
}

html {
  display: flex;
  height: 100vh;
  width: 100%;
  font-size: 18px;

  @include handheld {
    font-size: 20px;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  flex: 1;
  padding: .5rem;
  font-family: $font;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input,textarea {
  /* Exception for input areas */
  -webkit-touch-callout: default !important;
  -webkit-user-select: text !important;
}

a {
  color: $accent;

  &:hover {
    color: lighten($accent, 10%);
  }
}

.btn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.1em;
  border-radius: 4px;
  padding: .4em 2em;
  font-weight: bold;

  &:hover {
    background-color: #fff;
    color: #000;
  }
}

button {
  font-family: $font;
  font-size: 1.2rem;
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  text-align: center;
  padding: 1em 1em;
  border-radius: 0.5em;
  background-color: transparent;
  border: 3px solid;
  font-weight: bold;
  min-width: 300px;
  transition: transform .1s ease-out;

  &:hover {
    transform: scale(1.05);
  }

  &.light {
    color: #fff;
  }

  &:active,
  &:focus {
    outline: 0;
  }

  &[disabled],
  &[disabled]:hover {
    color: rgba(#000, .3);
    border-color: rgba(#000, .2);
    cursor: default;
    transform: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem;
  font-weight: 800;
  color: $purple;
}

h1 {
  font-size: 2.8rem;
  letter-spacing: -1px;
  margin-bottom: 0;
  line-height: 1;

  @include handheld {
    font-size: 2rem;
  }
}

.huge {
  font-size: 6rem;

  @include handheld {
    font-size: 13vw;
  }
}

input[type="search"] {
  -webkit-appearance: none;
  font-size: 1.3em;
  padding: .5em;
  border-radius: 5px;
  border: 3px solid rgba(#000, .3);
  font-family: $font;
  font-weight: bold;
  width: 100%;
  background-color: transparent;

  &::-webkit-input-placeholder {
    color: rgba(#000, .5);
    font-style: italic;
  }

  &:focus {
    outline: 0;
    border-color: #000;
  }

  @include handheld {
    font-size: 16px;
  }
}

code {
  font-size: .9em;
  font-family: Monaco, Menlo, monospace;
  background-color: #f8f8f8;
  border-radius: 3px;
  padding: .4em;
}

#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: no-repeat;
  background-size: cover;
  transform: translateX(-50%) translateY(-50%);
}

.overlay {
  display: block;
  background-color: rgba(#000, .4);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
}

.avatar {
  border-radius: 100%;
  width: 65px;
  height: 65px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.user-list {
  @include list-reset;
  margin: 2em 0 1em;

  li {
    display: inline-block;
  }
}

.container {
  width: 100%;
  max-width: 600px;
}

.body-home {
  a {
    color: #fff;
  }

  @include handheld {
    background: transparent url('/res/mobile.jpg') no-repeat center;
    background-size: cover;

    #bgvid {
      display: none;
    }
  }
}

.home {
  color: #fff;
  position: relative;
  z-index: 10;

  h1 {
    text-shadow: rgba(#000, .1) 0 0 30px;
    margin-bottom: 2rem;
  }

  button {
    border-radius: 8px;
    margin-bottom: .5rem;
  }

  .game-list {
    @include list-reset;
    max-width: 450px;
    margin: 2rem auto 0;
    font-weight: bold;

    .no-content {
      font-style: italic;
      font-weight: normal;
      margin-bottom: 10px;
      font-size: .9em;
    }

    .avatars {
      margin-bottom: .5rem;

      .avatar {
        transition: margin .25s ease;
        margin: 0;
        margin-right: -17px;
        box-shadow: rgba(#000, .5) -1px 0 3px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    li {
      display: flex;
      justify-content: center;;
      align-items: center;
      margin-bottom: 1rem;
      flex-direction: column;

      &:hover {
        .avatars .avatar {
          margin-right: 0;
        }
      }
    }

    .avatar {
      width: 48px;
      height: 48px;
      margin-right: .5rem;
    }
  }
}

.search-form {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: 2em auto 0;
}

.song-list {
  @include list-reset;
  text-align: left;
  overflow: hidden;
  margin-top: 1em;

  .song-meta {
    flex: 1;
    margin-left: .5rem;
    line-height: 1.2;
  }

  .cover {
    width: 60px;
    border-radius: 3px;
  }

  .artist {
    font-size: .9em;
    color: #555;
  }

  li {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
    opacity: .8;
    border-radius: 3px;

    &:hover {
      background-color: rgba(#fff, .2);
      opacity: 1;
    }
  }
}

.pick-song {
  height: 80vh;
  margin-top: 3em;
}

.have-picked {
  font-weight: 1.1em;

  strong {
    display: block;
    font-size: 1.4em;
  }
}

.host-done {
  h1 {
    margin-bottom: 3rem;
  }
}

.controls {
  position: fixed;
  top: 0;
  right: 0;
  padding: .5em;
  z-index: 100;
  font-style: italic;

  a {
    margin-left: .5rem;
  }
}

.game-body {
  background-color: #E8E65A;
}

.btn-login {
  img {
    vertical-align: middle;
    margin-left: 10px;
  }
}

.finished-picked {
  @include list-reset;

  li {
    display: inline-block;
  }
}

h3 {
  margin-bottom: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 17px;
  color: rgba(#000, .6);
  margin-top: 3rem;
}

.logo {
  img {
    max-width: 100%;
  }
}
